[class*="__container"] {
    max-width: 1277px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    [class*="__container"] {
        max-width: 950px;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        margin: 0px 15px;
    }
}

/* --header------------------------------------------ */

@media(max-width: 1300px) {
    .nav {
        padding: 40px 0px 0px 0px;
    }
    .header__burger {
        display: flex;
    }
    .header__logo img {
        margin: 0px 0px 0px 0px;
    }
    .header__logo {
        flex: 1 1 auto;
    }
    .header__logo a:last-child {
        display: none;
    }
    .header__logo a:first-child {
        margin: 0px 0px 0px 0px;
    }
    .header__list {
        display: none;
    }
    .header__list.active {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
        flex-direction: column;
        padding: 50px 40px;
        overflow-y: auto;
        background-color: #000;
        gap: 30px;
        animation: burgerAnimation 0.3s;
    }
    .display {
        display: flex;
    }
    .header__list a {
        color: #fff;
    }
    @keyframes burgerAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media(max-width: 767.98px) {
    .header__phone::before {
        margin: 0px 20px 0px 0px;
    }
    .header__account {
        margin: 0px 20px 2px 0px;
    }
}

@media(max-width: 466.98px) {
    .header__phone a:last-child {
        display: none;
    }
}

@media(max-width: 1300px) {
    .hosting__nav {
        position: relative;
        margin: 0px 0px 0px 0px;
    }
    .hosting__flex {
        margin: 0px 0px 0px 0px;
    }
    .hosting__flex h1 {
        font-size: 48px;
        line-height: 65px; 
        margin: 20px 0px 0px 0px;
    }
    .hosting__flex p {
        margin: 20px 0px 0px 0px;
    }
    .main-hosting__buttons {
        margin: 50px 0px 0px 0px;
    }
    .hosting__picture img:nth-child(1) {
        top: 240px;
        left: -26px;
    }
    .hosting__picture img:nth-child(2) {
        top: 50px;
        right: -25px;
    }
    .hosting__picture img:nth-child(3) {
        top: 310px;
        right: -25px;
    }
}

@media(max-width: 991.98px) {
    .hosting__flex {
        flex-wrap: wrap;
    }
    .hosting__picture {
        margin: 50px 0px 0px 0px;
    }
}

@media(max-width: 767.98px) {
    .hosting__flex h1 {
        font-size: 44px;
        max-width: 508px;
        line-height: 60px;
    }
}

@media(max-width: 466.98px) {
    .hosting {
        margin: 60px 0px 0px 0px;
    }
    .hosting__flex h1 {
        font-size: 36px;
        max-width: 508px;
        line-height: 50px;
    }
    .hosting__flex p {
        font-size: 15px;
    }
    .hosting__list a {
        font-size: 14px;
    }
    .hosting__list li:first-child a {
        font-size: 14px;
    }
    .hosting__list {
        gap: 16px;
    }
    .main-hosting__buttons {
        margin: 40px 0px 0px 0px;
    }
    .main-hosting__buttons a:first-child {
        max-width: 180px;
        margin: 0px 0px 20px 0px;
        display: block;
    }
    .main-hosting__buttons a {
        max-width: 180px;
        display: block;
    }
    .main-hosting__buttons a:first-child:hover {
        background: #B00000;
        color: var(--text-white, #FFF);
        box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0);
    }
    .main-hosting__buttons a:hover {
        background: transparent;
        color: var(--base-black, #000);
    }
    .hosting__picture img:nth-child(1) {
        display: none;
    }
    .hosting__picture img:nth-child(2) {
        display: none;
    }
    .hosting__picture img:nth-child(3) {
        display: none;
    }
}

/* --cloud------------------------------------------- */

@media(max-width: 1300px) {
    .cloud__main h2 {
        font-size: 36px;
        line-height: 50px;
    }
    .cloud__main p {
        font-size: 16px;
        margin: 20px 0px 0px 0px;
        max-width: 500px;
    }
    .cloud__sponsors {
        margin: 0px 0px 0px 60px;
        display: flex;
     }
     .cloud__sponsors div:last-child {
        margin: 0px 0px 0px 40px;
    }
     .cloud__sponsors div {
        flex-wrap: wrap;
        flex-direction: column;
     }
     .cloud__sponsors div:first-child img:nth-child(1) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:first-child img:nth-child(2) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(1) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(2) {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width: 991.98px) {
    .cloud__main h2 {
        font-size: 32px;
        line-height: 50px;
    }
    .cloud__container {
        flex-wrap: wrap;
    }
    .cloud__sponsors {
        margin: 0px 0px 0px 0px;
        display: block;
     }
     .cloud__sponsors div:last-child {
        margin: 30px 0px 0px 0px;
    }
    .cloud__sponsors div:first-child {
        margin: 30px 0px 0px 0px;
    }
     .cloud__sponsors div {
        flex-wrap: wrap;
        flex-direction: row;
     }
     .cloud__sponsors div:first-child img:nth-child(1) {
        margin: 0px 72px 0px 0px;
    }
    .cloud__sponsors div:first-child img:nth-child(2) {
        margin: 0px 87px 0px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(1) {
        margin: 0px 63px 0px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(2) {
        margin: 0px 67px 0px 0px;
    }
}

@media(max-width: 600px) {
    .cloud__sponsors {
        margin: 0px 0px 0px 0px;
        display: flex;
     }
     .cloud__sponsors div {
        flex-wrap: wrap;
        flex-direction: column;
     }
     .cloud__sponsors div:last-child {
        margin: 30px 0px 0px 40px;
    }
     .cloud__sponsors div:first-child img:nth-child(1) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:first-child img:nth-child(2) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(1) {
        margin: 0px 0px 30px 0px;
    }
    .cloud__sponsors div:last-child img:nth-child(2) {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width: 466.98px) {
    .cloud {
        margin: 60px 0px 0px 0px;
    }
    .cloud__main h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .cloud__main p {
        font-size: 15px;
        margin: 15px 0px 0px 0px;
    }
}

/* --blazing----------------------------------------------------------------- */

@media(max-width: 1300px) {
    .blazing {
        margin: 100px 0px 0px 0px; 
     }
     .blazing__container {
        flex-wrap: wrap;
        gap: 60px;
    }
    .blazing__block:not(:last-child) {
        margin: 0px 0px 0px 0px;
    }
    .blazing__block img {
        max-width: 100%;
    }
    .blazing__block h2 {
        font-size: 18px;
    }
    .blazing__block p {
        font-size: 12px;
    }
}

@media(max-width: 767.98px) {
    .blazing {
        margin: 80px 0px 0px 0px; 
     }
    .blazing__container {
        gap: 50px;
    }
}

/* --ready----------------------------------------------------------- */

@media(max-width: 1300px) {
    .ready {
        margin: 100px 0px 0px 0px;
    }
    .ready__mane h2 {
        font-size: 44px; 
    }
    .ready__mane-text{
        font-size: 22px;
        margin: 30px 0px 0px 0px;
    }
    .ready__mane-change {
        margin: 50px auto;
    }
    
    .ready__mane-change p {
        font-size: 22px;
    }
    /* -------------------------------------- */
    .ready__tariff {
        margin: 60px 0px 0px 0px;
    }
    /* ------------------------------------------ */
    .ready__options {
        margin: 70px 0px 0px 0px;
        gap: 70px;
    }
    .ready__option h3 {
        font-size: 24px;
        line-height: 25px; 
    }
    .ready__option p { 
        margin: 10px 0px 0px 0px;
    }
    .ready__option dt {
        font-size: 36px;
        margin: 25px 0px 0px 0px;
    }
    .ready__option dd {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px; 
        margin: 11px 0px 35px 4px;
    }
    .ready__option a {
        padding: 9px 34px 9px 34px;
    }
    .ready__option li::before {
        margin: 0px 20px 0px 1px;
    }
}

@media(max-width: 991.98px) {
    .ready__mane h2 {
        font-size: 36px;
        max-width: 500px;
        line-height: 55px; 
    }
    .ready__mane-text{
        font-size: 20px;
        margin: 20px 0px 0px 0px;
    }
    .ready__mane-change {
        margin: 40px auto;
    }
    .ready__mane-change p {
        font-size: 20px;
    }
    /* --------------------------------- */
    .ready__tariff {
        margin: 50px 0px 0px 0px;
    }
    .ready__tariff::after {
        content: '';
        background-image: none;
    }
    .ready__tariff li:first-child:after {
        content: '';
        display: flex;
        width: 350px;
        height: 4px;
        background: #B00000;
    }
    .ready__tariff li:last-child:after {
        content: '';
        display: flex;
        width: 350px;
        height: 4px;
        background: #C4C4C4;
    }
    .ready__tariff ul li {
        font-size: 25px;
    }
    /* ------------------------------------ */
    .ready__options {
        margin: 60px 0px 0px 0px;
        gap: 60px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 767.98px) {
    .ready__mane-change img {
        margin: 0px 10px 0px 10px;
    }
    /* ------------------------------------ */
    .ready__tariff li:first-child:after {
        content: '';
        display: flex;
        width: 220px;
        height: 4px;
        background: #B00000;
    }
    .ready__tariff li:last-child:after {
        content: '';
        display: flex;
        width: 220px;
        height: 4px;
        background: #C4C4C4;
    }
}

@media(max-width: 466.98px) {
    .ready__mane h2 {
        font-size: 28px;
        line-height: 45px; 
    }
    .ready__mane-text{
        font-size: 16px;
    }
    .ready__mane-change p {
        font-size: 18px;
    }
    .ready__mane-change div {
        width: 73px;
        height: 40px;
        margin: 0px 20px 0px 20px;
    }
    .ready__mane-change span {
        width: 20px;
        height: 20px;
    }
    .ready__mane-change p:last-child {
        position: absolute;
        font-size: 10px;
        font-weight: 500;
        line-height: 9px;
        border-radius: 8px;
        background: #FFE87A;
        padding: 7px 8px 7px 8px;
        right: 5%;
        top: 100%;
    }
    /* ------------------------------------- */
    .ready__tariff ul li {
        font-size: 22px;
    }
    .ready__tariff li:first-child:after {
        content: '';
        display: flex;
        width: 150px;
        height: 4px;
        background: #B00000;
    }
    .ready__tariff li:last-child:after {
        content: '';
        display: flex;
        width: 150px;
        height: 4px;
        background: #C4C4C4;
    }
    /* ------------------------------------- */
    .ready__options {
        margin: 50px 0px 0px 0px;
    }
    .ready__option a:hover {
        color: #000;;
        background-color: #fff;
    }
}

@media(max-width: 1300px) {
    .real {
        margin: 150px 0px 0px 0px;
    }
    .real__mane {
        margin: 0px 0px 0px 150px;
    }
    .real__mane img {
        top: -50px;
        left: -85px;
        width: 120px;
    }
    .real__mane h2 {
        font-size: 36px;
        line-height: 50px; 
        max-width: 350px;
    }
    .real__mane p {
        font-size: 16px;
    }
    /* ---------------------------- */
    .real__jpnl {
        margin: -90px 0px 0px 500px;
    }
    .real__CLI {
        margin: -220px 0px 0px 100px;
    }
    .real__LeeveOn {
        margin: -220px 0px 0px 500px;
    }
}

@media(max-width: 991.98px) {
    .real {
        margin: 130px 0px 0px 0px;
    }
    .real__mane {
        margin: 0px 0px 0px 0px;
    }
    .real__mane img {
        top: -40px;
        left: 160px;
        width: 110px;
    }
    .real__mane h2 {
        font-size: 32px;
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
        line-height: 45px; 
    }
    .real__mane p {
        text-align: center;
    }
    /* ------------------------------ */
    .real__jpnl {
        margin: 60px auto;
        max-width: 400px;
    }
    .real__CLI {
        margin: 40px auto;
        max-width: 400px;
    }
    .real__LeeveOn {
        margin: 40px auto;
        max-width: 400px;
    }
}

@media(max-width: 767.98px) {
    .real {
        margin: 100px 0px 0px 0px;
    }
    .real__mane img {
        top: -35%;
        left: 21%;
        width: 110px;
    }
}

@media(max-width: 466.98px) {
    .real__mane img {
        top: -40%;
        left: 5%;
        width: 100px;
    }
    .real__mane h2 {
        font-size: 28px;
        line-height: 40px; 
    }
    .real__jpnl p {
        font-size: 15px;
        margin: 10px 0px 15px 0px;
        line-height: 28px;
        max-width: 350px;
    }
    .real__CLI p {
        font-size: 15px;
        margin: 10px 0px 15px 0px;
        line-height: 28px;
        max-width: 350px;
    }
    .real__LeeveOn p {
        line-height: 28px; 
        margin: 10px 0px 15px 0px;
        font-size: 16px;
        max-width: 350px;
    }
    /* ----------------------------- */
    .real__jpnl {
        margin: 50px auto;
        padding: 30px;
    }
    .real__CLI {
        margin: 30px auto;
        padding: 30px;
    }
    .real__LeeveOn {
        margin: 30px auto;
        padding: 30px;
    }
    /* ----------- */
    .real__jpnl img:first-child {
        left: 8px;
        top: 90px;
    }
    .real__CLI img:first-child {
        left: 8px;
        top: 80px;
    }
    .real__LeeveOn img:first-child {
        left: 8px;
        top: 60px;
    }
}

@media(max-width: 1300px) {
    .serve {
        margin: 110px 0px 0px 0px;
    } 
    .serve__mane {
        margin: 0px 100px 0px 0px;
    }
    .serve__mane h2 {
        font-size: 36px;
        line-height: 50px;
    }
    .serve__mane p {
        font-size: 16px;
        margin: 8px 0px 0px 0px;
        max-width: 400px;
    }
    /* --------------------------- */
    .serve__img {
        display: flex;
        align-items: center;
    }
    .serve__img div {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .serve__img div:last-child {
        margin: 0px 0px 0px 50px;
    }
    .serve__img div img:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width: 991.98px) {
    .serve {
        margin: 100px 0px 0px 0px;
    }
    .serve__mane {
        margin: 0px 0px 0px 0px;
    }
    .serve__mane h2 {
        font-size: 32px;
        max-width: 300px;
        line-height: 45px;
    }
    .serve__mane p {
        font-size: 16px;
        margin: 8px 0px 0px 0px;
    }
    /* ------------------------------- */
    .serve__container {
        flex-wrap: wrap;
    }
    .serve__img {
        display: block;
    }
    .serve__img div {
        margin: 30px 0px 0px 0px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .serve__img div:last-child {
        margin: 30px 0px 0px 0px;
    }
    .serve__img div img:not(:last-child) {
        margin: 0px 50px 0px 0px;
    }
}

@media(max-width: 600px) {
    .serve {
        margin: 80px 0px 0px 0px;
    }
    .serve__img {
        display: flex;
    }
    .serve__img div {
        margin: 30px 0px 0px 0px;
        flex-direction: column;
    }
    .serve__img div:last-child {
        margin: 0px 0px 0px 40px;
    }
    .serve__img div img:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}

@media(max-width: 466.98px) {
    .serve__mane h2 {
        font-size: 28px;
        line-height: 40px;
    }
    .serve__mane p {
        font-size: 15px;
    }
}

/* --awesome---------------------------------------- */ 

@media(max-width: 1300px) {
    .awesome {
        margin: 100px 0px 0px 0px;
    }
    .awesome__container {
        padding: 0px 0px 0px 0px;
    }
    .awesome__box h1 {
        font-size: 48px;
        line-height: 65px; 
        max-width: 900px;
    }
    .awesome__button {
        margin: 30px auto;
        justify-content: center;
    }
    .awesome__box img:nth-child(1) {
        top: 0px;
        left: 334px;
    }
    .awesome__box img:nth-child(2) {
        bottom: 30px;
        right: -25px;
    }
    .awesome__box img:nth-child(3) {
        left: -25px;
        bottom: 70px;
    }
}

@media(max-width: 991.98px) {
    .awesome__box {
        padding: 60px 70px 30px 90px;
    }
    .awesome__box img:nth-child(1) {
        top: 0px;
        left: 290px;
    }
    .awesome__box img:nth-child(2) {
        bottom: 20px;
        right: -25px;
    }
    .awesome__box img:nth-child(3) {
        left: -25px;
        bottom: 60px;
    }
}

@media(max-width: 767.98px) {
    .awesome {
        margin: 80px 0px 0px 0px;
    }
    .awesome__box h1 {
        font-size: 36px;
        max-width: 500px;
        margin: 0 auto;
        line-height: 55px;
    }
    .awesome__box img:nth-child(1) {
        top: 0px;
        left: 250px;
    }
    .awesome__box img:nth-child(2) {
        bottom: 10px;
        right: -25px;
    }
    .awesome__box img:nth-child(3) {
        left: -25px;
        bottom: 50px;
    }
    .awesome__box {
        padding: 60px 20px 30px 20px;
    }
    .awesome__button {
        margin: 20px auto;
        max-width: 210px;
        justify-content: center;
    }
    .awesome__button img {
        margin: 0px 7px 0px 0px;
        padding: 0px 0px 0px 14px;
    }
    .awesome__button a:last-child {
        padding: 10px 10px 10px 0px
    }
}

@media(max-width: 503px) {
    .awesome {
        margin: 60px 0px 0px 0px;
    }
    .awesome__box h1 {
        font-size: 32px;
        line-height: 45px;
    }
    .awesome__box {
        padding: 30px 10px 10px 10px;
    }
    .awesome__box img:nth-child(1) {
        top: 0px;
        left: 150px;
        width: 30px;
    }
    .awesome__box img:nth-child(2) {
        bottom: 20px;
        right: -25px;
        width: 50px;
    }
    .awesome__box img:nth-child(3) {
        left: -20px;
        bottom: 40px;
        width: 30px;
    }
    .awesome__button img {
        margin: 0px 5px 0px 0px;
        padding: 0px 0px 0px 10px;
    }
    .awesome__button a:last-child {
        padding: 8px 10px 8px 0px;
        font-size: 12px;
    }
}

/* --footer------------------------------------------- */ 

@media(max-width: 1300px) {
    .footer {
        margin: 100px 0px 0px 0px;
    }
    .footer__container {
        padding: 55px 0px 70px 0px;
    }
    .footer__nav ul {
        margin: 0px 0px 0px 50px;
    }
    .footer__nav li {
        margin: 20px 0px 0px 0px;
    }
    .footer__link a {
        margin: 80px 0px 0px 0px;
    }
}

@media(max-width: 991.98px) {
    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
    }
    .footer__nav ul {
        margin: 0px 0px 0px 70px;
    }
    .footer__nav ul:first-child {
        margin: 0px 0px 0px 0px;
    }
    .footer__mane {
        margin: 0 auto;
    }
    .footer__mane p {
        max-width: 400px;
    }
    .footer__link {
        margin: 0 auto;
    }
    .footer__link a {
        margin: 60px 0px 0px 0px;
    }
}

@media(max-width: 767.98px) {
    .footer__nav ul {
        margin: 0px 0px 0px 0px;
    }
    .footer__nav ul:not(:last-child) {
        margin: 0px 70px 40px 0px;
    }
    .footer__link a {
        margin: 20px 0px 0px 0px;
    }
}

@media(max-width: 466.98px) {
    .footer__link {
        font-size: 14px;
    }
    .footer__mane p {
        font-size: 15px;
    }
    .footer__nav li {
        margin: 10px 0px 0px 0px;
        font-size: 15px;
    }
    .footer__nav ul:not(:last-child) {
        margin: 0px 40px 40px 0px;
    }
    .footer__link a {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__link a:hover {
        text-decoration: none;
    }
}

@media(max-width: 376px) {
    .footer__nav {
        flex-direction: column;
    }
    .footer__nav ul:not(:last-child) {
        margin: 0px 0px 40px 0px;
    }
}