[class*="__container"] {
    max-width: 1277px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    [class*="__container"] {
        max-width: 950px;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        margin: 0px 15px;
    }
}

/* --header------------------------------------------ */

@media(max-width: 1300px) {
    .nav {
        padding: 40px 0px 0px 0px;
    }
    .header__burger {
        display: flex;
    }
    .header__logo img {
        margin: 0px 0px 0px 0px;
    }
    .header__logo {
        flex: 1 1 auto;
    }
    .header__logo a:last-child {
        display: none;
    }
    .header__logo a:first-child {
        margin: 0px 0px 0px 0px;
    }
    .header__list {
        display: none;
    }
    .header__list.active {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
        flex-direction: column;
        padding: 50px 40px;
        overflow-y: auto;
        background-color: #000;
        gap: 30px;
        animation: burgerAnimation 0.3s;
    }
    @keyframes burgerAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media(max-width: 767.98px) {
    .header__phone::before {
        margin: 0px 20px 0px 0px;
    }
    .header__account {
        margin: 0px 20px 2px 0px;
    }
}

@media(max-width: 466.98px) {
    .header__phone a:last-child {
        display: none;
    }
}

@media(max-width: 1300px) {
    .hosting__nav {
        position: relative;
        margin: 0px 0px 0px 0px;
    }
    .hosting__flex {
        margin: 0px 0px 0px 0px;
    }
    .hosting__flex h1 {
        font-size: 48px;
        margin: 20px 0px 0px 0px;
    }
    .hosting__flex p {
        margin: 20px 0px 0px 0px;
    }
    .main-hosting__buttons {
        margin: 50px 0px 0px 0px;
    }
    .hosting__picture img:nth-child(1) {
        top: 240px;
        left: -26px;
    }
    .hosting__picture img:nth-child(2) {
        top: 50px;
        right: -25px;
    }
    .hosting__picture img:nth-child(3) {
        top: 310px;
        right: -25px;
    }
}

@media(max-width: 991.98px) {
    .hosting__flex {
        flex-wrap: wrap;
    }
    .hosting__picture {
        margin: 50px 0px 0px 0px;
    }
}

@media(max-width: 767.98px) {
    .hosting__flex h1 {
        font-size: 44px;
        max-width: 508px;
        line-height: 70px;
    }
}

@media(max-width: 466.98px) {
    .hosting {
        margin: 60px 0px 0px 0px;
    }
    .hosting__flex h1 {
        font-size: 36px;
        max-width: 508px;
        line-height: 55px;
    }
    .hosting__flex p {
        font-size: 15px;
    }
    .hosting__list a {
        font-size: 14px;
    }
    .hosting__list li:first-child a {
        font-size: 14px;
    }
    .hosting__list {
        gap: 16px;
    }
    .main-hosting__buttons {
        margin: 40px 0px 0px 0px;
    }
    .main-hosting__buttons a:first-child {
        max-width: 180px;
        margin: 0px 0px 20px 0px;
        display: block;
    }
    .main-hosting__buttons a {
        max-width: 180px;
        display: block;
    }
    .main-hosting__buttons a:first-child:hover {
        background: #B00000;
        color: var(--text-white, #FFF);
        box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0);
    }
    .main-hosting__buttons a:hover {
        background: transparent;
        color: var(--base-black, #000);
    }
    .hosting__picture img:nth-child(1) {
        display: none;
    }
    .hosting__picture img:nth-child(2) {
        display: none;
    }
    .hosting__picture img:nth-child(3) {
        display: none;
    }
}