*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* -------------------------------------------- */

.main {
    flex: 1 1 auto;
}

body {
    position: relative;
    font-family: Poppins;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    background: #fff;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------------------------------------- */

._ibg {
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0px 0px 60px 60px;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 84%;
    top: 0;
    left: 0;
}

.visually-hidden {
   display: none;
}

/* ==header===================================================================== */

.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    padding: 41px 101px 0px 38px;
}

.nav {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0px 65px 0px 0px;
}

.header__list-inside {
    display: flex;
    align-items: center;
    margin: 0px 198px 0px 135px;
}

.header__list-inside li:not(:last-child) {
    margin: 0px 33px 0px 0px;
}

.header__list {
    display: flex;
}

.header__list a {
    font-size: 15px;
    color: #000;
}

.header__list a:hover {
    text-decoration: underline;
}

.red-underline::after {
    content: '';
    width: 72px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B00000;
    display: flex;
    margin: 4px auto -4px;
}

.header__phone {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.header__phone a {
    color: #000;
    line-height: 15px;
}

.header__phone img {
    margin: 0px 6px 0px 0px;
}

.header__phone::before {
    content: '';
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    background: #DAD8D8;
    margin: 0px 30px 0px 0px;
}

/* --BURGER------------------------------------------------------- */

.header__burger {
    display: none;
    position: relative;
    z-index: 100;
    height: 20px;
    width: 25px;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 0px 0px 10px;
}

.header__burger span {
    background-color: #000;
    height: 2px;
    width: 100%;
    transform: scale(1);
}

.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
}

.header__burger::before {top: 0}

.header__burger::after {bottom: 0}

/* --active-------------------------------------------- */

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}