*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/* -------------------------------------------- */

.main {
    flex: 1 1 auto;
}

body {
    position: relative;
    font-family: Poppins;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    background: #fff;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ------------------------------------- */

._ibg {
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0px 0px 60px 60px;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 84%;
    top: 0;
    left: 0;
}

.visually-hidden {
   display: none;
}

/* ==header===================================================================== */

.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
}

.nav {
    padding: 41px 98px 0px 38px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo a:first-child {
    margin: 0px 65px 0px 0px;
}

.header__logo a:last-child {
    color: #000;
    font-size: 15px;
    margin: 0px 135px 0px 0px;
}

.header__logo a:last-child::after {
    content: '';
    width: 72px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B00000;
    display: block;
    margin: 4px auto -4px;
}


.header__list {
    display: flex;
    flex: 1 1 auto;
}

.header__list a {
    color: #000;
    font-size: 15px;
}

.header__list li:not(:last-child) {
    margin: 0px 33px 0px 0px;
}

.header__account {
    display: flex;
    margin: 0px 31px 2px 0px;
    color: #000;
    font-size: 15px;
}

.header__phone::before {
    content: '';
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    background: #DAD8D8;
    margin: 0px 30px 0px 0px;
}

.header__phone {
    display: flex;
    align-items: center;
    margin: 0px 0px 2px 0px;
}

.header__phone a {
    color: #000;
    line-height: 15px; 
}

.header__phone img {
    margin: 0px 6px 0px 0px;
}

.display {
    display: none;
}

/* --BURGER------------------------------------------------------- */

.header__burger {
    display: none;
    position: relative;
    z-index: 100;
    height: 20px;
    width: 25px;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 0px 0px 15px;
}

.header__burger span {
    background-color: #000;
    height: 2px;
    width: 100%;
    transform: scale(1);
}

.header__burger::before, .header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease 0s;
}

.header__burger::before {top: 0}

.header__burger::after {bottom: 0}

/* --active-------------------------------------------- */

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: #fff;
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: #fff;
}

/* --hosting------------------------------------------------ */

.hosting {
    margin: 80px 0px 0px 0px;
}

.hosting__container {
    max-width: 100%; 
}

.hosting__nav {
    position: relative;
    margin: 0px 0px 0px 38px;
}

.hosting__nav::before {
    content: url(../img-hosting/hosting/line.svg);
    position: absolute;
    top: 0;
    left: 0;
    margin: 9px 0px 0px 0px;
}

.hosting__list {
    display: flex;
    gap: 18px;
}

.hosting__list a {
    color: rgba(214, 212, 212, 0.88);
    font-size: 15px;
}

.hosting__list li:first-child a {
    color: #B00000;
    font-size: 15px;
}

.hosting__flex {
    display: flex;
    margin: 0px 0px 0px 38px;
}

.hosting__flex h1 {
    color: var(--text-title, #2E2E2E);
    font-size: 64px;
    font-weight: 700;
    line-height: 77.5px;
    max-width: 608px;
    margin: 33px 81px 0px 0px;
}

.hosting__flex p {
    color: var(--text-body, #808080);
    font-family: Inter;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.8px;
    max-width: 448px;
    margin: 34px 0px 0px 0px;
}

.main-hosting__buttons {
    margin: 70px 0px 0px 0px;
}

.main-hosting__buttons a:first-child {
    color: var(--text-white, #FFF);
    margin: 0px 20px 0px 0px;
    box-shadow: 0px 0px 64px 0px rgba(176, 0, 0, 0.30);
    background: #B00000;
    padding: 12px 13.5px;
}

.main-hosting__buttons a {
    color: var(--base-black, #000);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid var(--base-black, #000);
    padding: 12px 18px;
    transition: all 0.3s ease 0s;
}

.main-hosting__buttons a:first-child:hover {
    background: #ffffff;
    color: #B00000;
    box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0);
}

.main-hosting__buttons a:hover {
    background: #2E2E2E;
    color: var(--text-white, #FFF);
}

.hosting__picture {
    position: relative;
    max-width: 501px;
}

.hosting__picture img {
    max-width: 100%;
}

.hosting__picture img:not(:last-child) {
    position: absolute;
}

.hosting__picture img:nth-child(1) {
    top: 303px;
    left: -26px;
}

.hosting__picture img:nth-child(2) {
    top: 63px;
    right: -25px;
}

.hosting__picture img:nth-child(3) {
    top: 391px;
    right: -25px;
}

/* --cloud------------------------------------------------------- */

.cloud {
    margin: 79px 0px 0px 0px;
}

.cloud__container {
    display: flex;
    align-items: center;
}

.cloud__main {
    max-width: 100%;
}

.cloud__main h2 {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
}

.cloud__main p {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    max-width: 573px;
    margin: 30px 0px 0px 0px;
}

.cloud__sponsors {
   margin: 0px 0px 0px 93px;
}

.cloud__sponsors div:first-child img:nth-child(1) {
    margin: 0px 82px 0px 0px;
}

.cloud__sponsors div:first-child img:nth-child(2) {
    margin: 0px 107px 0px 0px;
}

.cloud__sponsors div:last-child img:nth-child(1) {
    margin: 0px 73px 0px 0px;
}

.cloud__sponsors div:last-child img:nth-child(2) {
    margin: 0px 87px 0px 0px;
}

.cloud__sponsors div {
    display: flex;
    align-items: center;
}

.cloud__sponsors div:last-child {
    margin: 50px 0px 0px 0px;
}

.cloud__sponsors img {
    max-width: 100%;
    cursor: pointer;
}

/* --blazing----------------------------------------------- */

.blazing {
   margin: 118px 0px 0px 0px; 
}

.blazing__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blazing__block {
    max-width: 259px;
    text-align: center;
}

.blazing__block:not(:last-child) {
    margin: 0px 60px 0px 0px;
}

.blazing__block img {
    max-width: 100%;
    margin: 0px 0px 17px 0px;
}

.blazing__block h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
}

.blazing__block p {
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

/* --ready------------------------------------------------------- */

.ready {
    margin: 133px 0px 0px 0px;
}

.ready__container {
    justify-content: center;
}

.ready__mane {
   max-width: 100%; 
}

.ready__mane h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    line-height: 60px; 
    max-width: 650px; 
}

.ready__mane-text{
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin: 38px 0px 0px 0px;
    text-align: center;
}

.ready__mane-change {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 57px auto;
    max-width: 534px;
}

.ready__mane-change p {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px; 
}

.ready__mane-change p:last-child {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    line-height: 9px;
    border-radius: 8px;
    background: #FFE87A;
    padding: 7px 8px 7px 8px;
    right: 0;
    top: 30%;
}

.ready__mane-change div {
    position: relative;
    width: 93px;
    height: 50px;
    border-radius: 73px;
    background: #B00000;
    margin: 0px 30px 0px 30px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.ready__mane-change div.active {
    background: #b3a9a9;
}

.ready__mane-change span {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #FFF;
    margin: 10px 0px 0px 0px;
    left: 10%;
    transition: all 0.5s ease 0s;
}

.ready__mane-change span.active {
    left: 60%;
    background: #B00000;
}

/* -------------------- */

.ready__tariff {
    text-align: center;
    margin: 70px 0px 0px 0px;
}

.ready__tariff::after {
    content: '';
    background-image: url(../img-hosting/ready/line.svg);
    display: inline-block;
    width: 856px;
    height: 4px;
}

.ready__tariff ul {
    justify-content: center;
    display: flex;
    align-items: center;
}

.ready__tariff ul li {
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
}

.ready__tariff ul li:first-child {
    margin: 0px 332px 0px 0px;
}

/* -------------------------- */

.ready__options {
    margin: 85px 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.ready__option {
    padding: 34px 27px 48px 34px;
    border-radius: 15px;
    border: 1.5px solid #C4C4C4;
    max-width: 299px;
}

.ready__option h3 {
    font-size: 28px;
    line-height: 25px; 
}

.ready__option p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; 
    margin: 11px 0px 0px 0px;
}

.ready__option dt {
    font-size: 42px;
    line-height: 32px; 
    margin: 28px 0px 0px 0px;
}

.ready__option dd {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; 
    margin: 11px 0px 35px 4px;
}

.ready__option a {
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 32px; 
    padding: 9px 54px 9px 54px;
    border-radius: 12px;
    border: 2px solid #000;
    transition: all 0.3s ease 0s;
}

.ready__option a:hover {
    color: #fff;
    background-color: #2E2E2E;
}

.ready__option ul {
    margin: 35px 0px 0px 0px;
}

.ready__option li {
    color: var(--text-body, #808080);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter;
    line-height: 24px; 
    display: flex;
}

.ready__option li:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.ready__option li::before {
    content: url(../img-hosting/ready/yes.svg);
    margin: 0px 24px 0px 1px;
}